<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true">

	<description>elfinder配置</description>


	<!-- find appropriate command executor for given command -->
	<bean id="commandExecutorFactory"
		class="com.techstar.modules.elfinder.controller.executor.DefaultCommandExecutorFactory">
		<property name="classNamePattern" value="%sCommandExecutor" />
	</bean>

	<!-- FsService is often retrieved from HttpRequest -->
	<!-- while a static FsService is defined here -->
	<bean id="fsServiceFactory"
		class="com.techstar.modules.elfinder.impl.StaticFsServiceFactory">
		<property name="fsService">
			<bean class="com.techstar.modules.elfinder.impl.DefaultFsService">
				<property name="serviceConfig">
					<bean class="com.techstar.modules.elfinder.impl.DefaultFsServiceConfig">
						<property name="tmbWidth" value="80" />
						<property name="archivers">
							<map>
								<entry key="create">
									<list>
										<value>application/x-zip-compressed</value>
										<value>application/x-tar</value>
										<value>application/x-gzip</value>
										<value>application/x-7z-compressed</value>
									</list>
								</entry>
								<entry key="extract">
									<list>
										<value>application/x-zip-compressed</value>
										<value>application/x-tar</value>
										<value>application/x-gzip</value>
										<value>application/x-7z-compressed</value>
									</list>
								</entry>
							</map>
						</property>
					</bean>
				</property>
				<property name="volumes">
					<list>
						<!-- two volumes are mounted here -->
						<bean class="com.techstar.modules.elfinder.localfs.LocalFsVolume">
							<property name="volumeName" value="我的文档" />
							<property name="rootDir" value="/tmp/a" />
							<property name="volumeId" value="A" />
							<property name="readable" value="true" />
							<property name="writable" value="true" />

							<!-- 设置失效命令，commands : [ 'open', 'reload', 'home', 'up', 'back', 'forward', 
								'getfile', 'quicklook', 'download', 'rm', 'duplicate', 'rename', 'mkdir', 
								'mkfile', 'upload', 'copy', 'cut', 'paste', 'edit', 'extract', 'archive', 
								'search', 'info', 'view', 'help', 'resize', 'sort'] -->
							<property name="disabled">
								<list>
									<value>download</value>
								</list>
							</property>
						</bean>
						<bean class="com.techstar.modules.elfinder.localfs.LocalFsVolume">
							<property name="volumeName" value="共享文档" />
							<property name="rootDir" value="/tmp/b" />
							<property name="volumeId" value="B" />
							<property name="readable" value="true" />
							<property name="writable" value="false" />
						</bean>
					</list>
				</property>
			</bean>
		</property>
	</bean>

</beans>